[Unit]
Description=Toshy Config Service

[Service]
ExecStart=/usr/bin/bash -c 'env TERM=xterm /home/$USER/.config/toshy/scripts/toshy-service-config.sh'
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
