[Unit]
Description=Toshy Config Service
# Wants=graphical-session.target
# After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/bash -lc 'env TERM=xterm $HOME/.config/toshy/scripts/toshy-service-config.sh'
Restart=always
RestartSec=5

[Install]
WantedBy=graphical-session.target
