[Unit]
Description=Toshy KDE D-Bus Service
StartLimitBurst=5
StartLimitIntervalSec=60

[Service]
ExecStartPre=/bin/bash -c 'if [ -z "$XDG_SESSION_TYPE" ]; then sleep 3; exit 1; fi'
ExecStart=/bin/bash -c 'env TERM=xterm $HOME/.config/toshy/scripts/bin/toshy-kde-dbus-service.sh'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
