[Unit]
Description=Toshy Session Monitor
After=default.target

[Service]
ExecStart=/bin/bash -c 'env TERM=xterm $HOME/.config/toshy/scripts/toshy-service-session-monitor.sh'
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
