[Unit]
Description=Toshy KDE D-Bus Service

[Service]
ExecStart=/usr/bin/bash -c 'env TERM=xterm $HOME/.config/toshy/scripts/bin/toshy-kde-dbus-service.sh'

[Install]
WantedBy=default.target
