[D-BUS Service]
Name=org.toshy.Toshy
# SystemdService=toshy-kwin-dbus.service
Exec=/bin/sh -c 'env TERM=xterm echo "D-Bus service org.toshy.Toshy was contacted"'
