[Desktop Entry]
Type=Application
Name=Toshy Import Vars
GenericName=Toshy Import Vars
# Give systemd user services access to environment variables like:
# XDG_SESSION_TYPE XDG_SESSION_DESKTOP XDG_CURRENT_DESKTOP
Exec=/bin/sh -c 'exec env sleep 3 && systemctl --user import-environment XDG_SESSION_TYPE XDG_SESSION_DESKTOP XDG_CURRENT_DESKTOP'
Terminal=false
NoDisplay=false
# Icon must be copied to ~/.local/share/icons
Icon=toshy_app_icon_rainbow
Comment=Environment importer for Toshy services
Categories=Utility;
