[Desktop Entry]
Type=Application
Name=Toshy Preferences
GenericName=Toshy Preferences
Exec=$HOME/.local/bin/toshy-gui
Terminal=false
NoDisplay=false
# Icon must be copied to ~/.local/share/icons
Icon=toshy_app_icon_rainbow
Comment=Prefereces GUI for Toshy. Make Linux work like a 'Tosh!
Categories=Utility;
