[Desktop Entry]
Type=Application
Name=Toshy Tray Icon
GenericName=Toshy Tray Icon
Exec=$HOME/.local/bin/toshy-tray
Terminal=false
NoDisplay=false
# Icon must be copied to ~/.local/share/icons
Icon=toshy_app_icon_rainbow
Comment=Tray Icon Menu for Toshy. Make Linux work like a 'Tosh!
Categories=Utility;
