[Desktop Entry]
Type=Application
Name=Toshy Tray Icon
GenericName=Toshy Tray Icon
# Known working "Exec" line. Leaving this here as a backup:
# Exec=/usr/bin/sh -c 'exec env TERM=xterm /usr/bin/python3 /home/$USER/.config/toshy/toshy_tray.py'
# Exec line to launch Python file directly (doesn't activate venv)
# Exec=/usr/bin/sh -c 'exec env TERM=xterm /home/$USER/.config/toshy/toshy_tray.py'
# Exec line that activates the venv with a shell script first
Exec=/usr/bin/sh -c 'exec env TERM=xterm $HOME/.local/bin/toshy-tray'
Terminal=false
NoDisplay=false
Icon=toshy_app_icon_rainbow.svg
Comment=Tray Icon Menu for Toshy. Make Linux work like a 'Tosh!
Categories=Utility;
